{% block footer %}

    <div class="background--dark w-100" style="background-color:black;">
        <div class="footer py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-white">
                        <h5 class="fw-bolder">ABOUT</h5>
                        <p class="text-justify">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo atque officia quisquam velit quae, quibusdam numquam quaerat consectetur magnam. Illo error nobis assumenda dolorem sed enim omnis, necessitatibus distinctio expedita, ipsa impedit labore, magni libero dicta. Ad deleniti aperiam quidem magni cupiditate minima, suscipit, earum itaque, et cum dolor doloremque.
                        </p>
                    </div>
                    <div class="col-md-6 text-white">
                        <h5 class="fw-bolder">LINKS</h5>
                        <ul class="footer-links">
                            <li><a href="{{ path('app_home')}}">Home</a></li>
                            <li><a href="{{ path('app_services')}}">Services</a></li>
                            <li><a href="{{ path('app_contact')}}">Contact us</a></li>
                            <li><a href="{{ path('app_catalogue')}}">Catalogue</a></li>
                            <li><a href="{{ path('app_basket')}}">Basket</a></li>
                            <li><a href="{{ path('app_login')}}">Login</a></li>
                            <li><a href="{{ path('app_register')}}">Register</a></li>
                        </ul>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6 text-white">
                        <p class="text-justify">
                          Copyright © 2022 All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-6 text-white">
                        
                        <ul class="social-links d-flex justify-content-between list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}