<style>
.nav-link {
    color: white!important;
}
</style>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
  <!-- Container wrapper -->
  <div class="container">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOS1usdhphlrfTttBQnv8MYW3-TlhAKDc9Iw&usqp=CAU"
            height="40"
            width="auto"
            alt="MDB Logo"
            loading="lazy"
        />
        </a>
    </div>
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex navbar-icons">
        <li class="nav-item">
            <a class="nav-link active d-flex" href="{{ path('app_home') }}">
                <i class="fas fa-home m-1"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item">
          
            <a class="nav-link d-flex" href="{{ path('app_about') }}">
                <i class="fas fa-book m-1"></i>
                <p>About</p>
            </a>
        </li>
        <li class="nav-item dropdown">
        {% if app.user is same as(null) %}
            <a class="nav-link d-flex" href="{{ path('app_login')}}">
                <i class="fas fa-user m-1"></i>
                <p>Profile</p>
            </a>
        {% else %}
            <a class="nav-link d-flex" href="{{ path('app_profile_edit', {'id': app.user.id } )}}">
                <i class="fas fa-user m-1"></i>
                <p>Profile</p>
            </a>
        {% endif %}
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex" href="{{ path('app_login')}}">
            <!-- a door icon font awesome -->
                <i class="fas fa-door-open m-1"></i>
                <p>Login</p>
            </a>

        <li class="nav-item">
          
            <a class="nav-link d-flex" href="{{ path('app_contact') }}">
                <i class="fas fa-phone m-1"></i>
                <p>Contact</p>
            </a>
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item">

            <a class="nav-link d-flex" href="{{ path('app_catalogue') }}">
                <i class="fas fa-car m-1"></i>
                <p>Cars</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="{{ path('app_services') }}">
                <i class="fas fa-tools m-1"></i>
                <p>Services</p>
            </a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
{% endblock %}