{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}
{% block banner_status %}
display:none;
{% endblock %}
{% block body %}
<style>
.banner {
    background-image: url('{{ asset('images/products/') ~ car.imageName }}');
    background-size: cover;
    background-position: center 85%;
    background-repeat: no-repeat;
    object-fit:fill;
    height: 65vh;
    width: 100%;
}
</style>
<div class="wrapper">
    <div class="container-fluid m-0 p-0">
        <div class="col-md-12">
            <div class="banner img-fluid d-flex flex-column justify-content-end align-items-end">
                <div class="container ">
                    <h2 class="display-2 text-warning fw-bolder" style="color:red;filter:none;"> Information about car</h2>
                    <p class="fs-5 text-white font-monospace"> Here you will find all the necessary information about the car.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card m-2 my-5 p-0 w-100" style="width: 18rem;">
                <img class="card-img-top h-50 img-fluid" src="{{ asset('images/products/') ~ car.imageName }}" alt="Card image cap" style="object-fit:fill;">
                <div class="card-body d-flex flex-column justify-content-evenly">
                    <h3 class="card-title">{{car.name}}</h3>
                    <div class="d-flex justify-content-sm-between justify-content-md-between">
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>Price</small></h5>
                            <h5 class="card-title">€ {{car.price}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>Year</small></h5>
                            <h5 class="card-title">{{car.year}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>KM</small></h5>
                            <h5 class="card-title">213.123</h5>
                        </div>
                    </div>

                    <div class="d-flex justify-content-sm-between justify-content-md-between">
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>Cor</small></h5>
                            <h5 class="card-title">{{car.color}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>Modelo</small></h5>
                            <h5 class="card-title">{{car.model}}</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title text-muted"><small>Lorem, ipsum.</small></h5>
                            <h5 class="card-title">213.123</h5>
                        </div>
                    </div>
                    <hr/>
                    <h5 class="card-title text-muted"><small>About car</small></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda laboriosam harum vero eveniet dignissimos provident amet corporis ratione eligendi praesentium. Dolore accusamus autem nisi exercitationem alias dignissimos! Eveniet, aut? Voluptate commodi eaque enim modi quam neque. Officia tempore dolorum optio doloremque error id similique suscipit est aliquid. Facilis, nisi incidunt.</p>
                    <form method="post">
                        {% if in_basket %}
                            <button disabled class="btn btn-outline-dark btn-lg w-100"> Added to basket </a>
                        {% else %}
                            <button type="submit" class="btn btn-outline-dark btn-lg w-100"> Add to basket </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
